
# MAC OS
.idea

# Distribution / packaging
build/
release/
downloads/
external/

# CMakeFiles
CMakeCache.txt
build.ninja
cmake_install.cmake
CMakeFiles/
cmake-build-debug/

# Other
.cache
